body {
  background: linear-gradient(180deg, black, blue 75%, #aa79c7);
  text-align: center;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
.container {
  height: 100vh;
  color: rgb(167, 64, 64);
  position: relative;
}
.playgame {
  margin-top: 20vh;
  background: transparent;
  p {
    margin: 5px 0;

    &:last-of-type {
      font-weight: 900;
      margin: 10px 0;
    }
  }
  button {
    margin: 15px 30px 15px;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 25px;
    background-color: yellowgreen;
  }
}
